<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博身份登录首页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/a.css">
</head>
<body>
    <div class="topDiv">
        <img src="/static/img/weibo.png" >
        <p> 微博头条新闻 </p>
    </div>
    <div class="leftDiv">
        <ul>
            <li><a href="/register/">管理员注册</a></li>
            <li><a href="/login/">管理员登录</a></li>
            <li><a href="/register1/">用户注册</a></li>
            <li><a href="/login1/">用户登录</a></li>
        </ul>
    </div>
    <div class="spotDiv">
        <ul>
            {% for item in spotList %}
            <div>
                <li class="oneLi"><a href="{{ item.address }}" target="_blank">{{ item.content }}</a></li><br/><br/>
                <li>{{ item.author }}   &emsp;{{ item.publishTime }}</li> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <li class="twoLi">
                    <input type="image" src="/static/img/approve.png">&nbsp;{{ item.approve }}&emsp;
                    <input type="image" src="/static/img/comment.png">&nbsp;{{ item.comment }}&emsp;
                    <input type="image" src="/static/img/repost.png">&nbsp;{{ item.repost }}
                </li>
            </div>
            {% endfor %}
        </ul>
        <ul class="oneUl">
            {% for index in spotList.paginator.page_range %}
                {% if index == spotList.number %}
                    &emsp;<li>{{ index }}</li>
                {% else %}
                    &emsp;
                    <li>
                    <a href="/detail2/{{ index }}/">{{ index }}</a>
                    </li>
                {% endif %}
            {% endfor %}
         </ul>
    </div>
</body>
</html>